<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjx.mapper.OrdersMapper">


    <select id="getNewComplaintNumsOrderOnMonth" resultType="java.lang.Integer">
        select count(*)
        from pharmacy.orders as po
        WHERE po.complaint = 1
          and date(gmt_create) >= DATE_SUB(CURRENT_DATE, INTERVAL 30 day)
    </select>
</mapper>
