<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjx.mapper.ShoppingAddressMapper">

    <select id="queryHasCommon" resultType="java.lang.Integer">
        select count(*)
        from pharmacy.shopping_address
        where deleted = 0
          and username = #{username}
          and receipt_name = #{shoppingAddress.receiptName}
          and receipt_address = #{shoppingAddress.receiptAddress}
          and details_address = #{shoppingAddress.detailsAddress}
          and phone = #{shoppingAddress.phone}
          and is_default = #{shoppingAddress.isDefault}
    </select>

    <select id="queryDefaultNum" resultType="java.lang.Integer">
        select count(*)
        from pharmacy.shopping_address
        where deleted = 0
          and username = #{username}
          and is_default = 1
    </select>
</mapper>
